node_modules/
output/
example-project/deploy/
example-project/cache/
example-project/static/*
!example-project/static/.keepme
model.glb
*.sublime-project
*.sublime-workspace
package-lock.json
pnpm-lock.yaml
lib/
pkgs/
/model-splitter-cli-standalone-linux.zip
/model-splitter-cli-standalone-macos.zip
/model-splitter-cli-standalone-win.zip
.editor/