node_modules/
/input/
/output/
/example-project/deploy/
/example-project/cache/
/example-project/static/*
/example-project/imgui.ini
!/example-project/static/.keepme
/*.glb
/*.gltf
*.sublime-project
*.sublime-workspace
package-lock.json
pnpm-lock.yaml
/lib/
/pkgs/
.editor/
/nwjs-out/*
!/nwjs-out/index.css
!/nwjs-out/index.html
!/nwjs-out/package.json
!/nwjs-out/icon.png
!/nwjs-out/down-icon.svg
!/nwjs-out/up-icon.svg
!/nwjs-out/remove-icon.svg
/cache
/nwjs-pkg-linux
/nwjs-pkg-win
/model-splitter-gui-linux.tar.gz
/model-splitter-gui-win.zip
/sharp-cache