node_modules/
/output/
/example-project/deploy/
/example-project/cache/
/example-project/static/*
!/example-project/static/.keepme
model.glb
*.sublime-project
*.sublime-workspace
package-lock.json
pnpm-lock.yaml
/lib/
/pkgs/
.editor/
/nwjs-out/*
!/nwjs-out/index.css
!/nwjs-out/index.html
!/nwjs-out/package.json
!/nwjs-out/icon.png