#main {
    display: flex;
    flex-direction: column;
}

.input-row {
    display: flex;
    flex-direction: row;
}

.expand {
    flex: 1;
}

.hidden {
    display: none;
}

.center-align-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.error {
    color: red;
    font-weight: bold;
}