#main {
    display: flex;
    flex-direction: column;
}

.input-row, .right-align-row {
    display: flex;
    flex-direction: row;
}

.expand {
    flex: 1;
}

.hidden {
    display: none;
}

.right-align-row {
    justify-content: end;
}

.error {
    color: red;
    font-weight: bold;
}