#main {
    display: flex;
    flex-direction: column;
    font-family: system-ui;
}

p {
    margin: 0;
}

#main > :not(:first-child) {
    margin-top: 8px;
}

.space-below {
    margin-bottom: 8px;
}

.picker-input-row > :nth-child(n+2), .input-row > :not(:first-child), .right-align-row > :not(:first-child) {
    margin-left: 4px;
}

.picker-input-row, .input-row, .right-align-row {
    display: flex;
    flex-direction: row;
}

.expand {
    flex: 1;
}

.hidden {
    display: none;
}

.right-align-row {
    justify-content: end;
}

.error {
    color: red;
    font-weight: bold;
}

#main p, #main label, #main span, #main legend {
    user-select: none;
}

fieldset, #text-output {
    border: 2px groove rgb(192, 192, 192);
}

#text-output {
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto;
}

#text-output, #text-output span, #text-output p {
    user-select: text !important;
}

.icon-button {
    width: 24px;
    height: 24px;
}

.icon-button:hover:not(.disabled-icon-button) {
    filter: brightness(80%);
}

.disabled-icon-button {
    filter: brightness(125%);
}

span.msg-timestamp {
    font-weight: bold;
}

span.msg-timestamp::before {
    content: "[";
}

span.msg-timestamp::after {
    content: "]";
    margin-right: 8px;
}

p.msg-debug {
    color: darkgray;
}

p.msg-warn {
    color: orange;
}

p.msg-error {
    color: red;
}

#lod-list {
    display: grid;
    grid-template-columns: 24px 24px 24px auto auto auto auto auto auto auto auto;
    gap: 4px;
}

.lod-list-header {
    font-weight: bold;
}

.lod-list-header:first-child {
    grid-column-start: 4;
}

#lod-list > input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}
